<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Contact</title>
</head>
<body>
<center>
<table>
	<form th:object="${newStudent}" th:action="@{/update/{id}(id=${newStudent.StudentId})}" method='POST'>
	<tr>
		<td>First Name:</td> 
		<td><input name="first" size="20" th:field="*{StudentFirstname}"></td>
	</tr>
	<tr>
		<td>Last Name:</td>
		<td><input name="last" size="20" th:field="*{StudentLastName}"></td>
	</tr>
	<tr>
		<td>s No:</td>
		<td><input name="school.sNo" size="20" th:field="*{school.sNo}"></td>
	</tr>
	<tr>
		<td>s Name:</td>
		<td><input name="school.sName" size="20" th:field="*{school.sName}"></td>
	</tr>
	<tr>
		<td colspan="3" align="center"> <input name="submit" type="submit" value="submit"></td>
	</tr>
	</form>
</table>
	<a href="viewAll">View all Students</a>
</center>
</body>
</html>